@use 'src/app/styles/variables' as *;

.auth-button-group {
    display: flex;
    justify-content:  center;
    align-items: center;
    margin-bottom: 20px;

    .auth-button {
        padding: 10px;
        font-size: 1em;
        font-weight: 600;
        font-family: $main-font;
    
        width: 100%;
        max-width: 450px !important;

        &:last-of-type {
            margin-top: 10px;
        }

        mat-icon {
            margin-top: -3px;
        }
    }
}
