<div class="back-container" (click)="toMap()">
  <div class="back-text" fxFlexLayout="row">
    <mat-icon>chevron_left</mat-icon>
    Back to map
  </div>
</div>

<div class="challenge--container" *ngIf="challenge$ | async; let challenge">
  <div class="challenge--header">
    <h2 [class]="Colour[challenge.category]">{{ challenge.title | uppercase }}</h2>
  </div>

  <h3 [class]="Colour[challenge.category] + ' center'" *ngIf="levelCompleted">
    Awesome work! You've completed this level!
  </h3>

  <div class="challenge--question-container">
    <mat-icon class="category-icon" [svgIcon]="CategoryIcons[challenge.category]"></mat-icon>
    <p>{{ challenge.question }}</p>
  </div>

  <div class="challenge--answer-list" [class]="Colour[challenge.category]">
    <ng-container *ngFor="let option of challenge.possibleAnswers; let i = index">
      <button mat-flat-button (click)="enterAnswer(option, challenge)" class="answer">
        <span [class]="Colour[challenge.category]">{{ i + 1 }}.</span> {{ option.label }}
      </button>
    </ng-container>
  </div>

  <div class="challenge--hint">
    <button mat-flat-button class="pink">Need help? Get a Hint</button>
  </div>
</div>

<ng-template #loading>
  <div class="bouncer centered"></div>
</ng-template>
