<div class="challenge--container" *ngIf="challenge$ | async; let challenge">
  <div class="challenge--header" id="top">
    <h2 [class]="Colour[challenge.category]">{{ challenge.title | uppercase }}</h2>
  </div>

  <h3 [class]="Colour[challenge.category] + ' challenge--completed'" *ngIf="levelCompleted">
    Awesome work! You've completed this level!
  </h3>

  <div class="challenge--logo">
    <div class="challenge--logo-img" [ngStyle]="{ 'background-image': 'url(' + challenge.logo + ')' }"></div>
  </div>

  <div class="challenge--question-container">
    <p>{{ challenge.question }}</p>
  </div>

  <div class="challenge--answer-list" [class]="Colour[challenge.category]">
    <ng-container *ngFor="let option of challenge.possibleAnswers; let i = index">
      <button mat-flat-button (click)="enterAnswer(option, challenge)" class="answer">
        <span [class]="Colour[challenge.category]">{{ i + 1 }}.</span> {{ option.label }}
      </button>
    </ng-container>
  </div>

  <div class="challenge--hint">Need help? <span class="pink" (click)="getHint(challenge)"> Get a HINT</span></div>
</div>

<ng-template #loading>
  <div class="bouncer centered"></div>
</ng-template>
