@import './variables';
@import './mixins';

h2 {
  padding-left: 0.25em;
}

a {
  text-decoration: none;
}

.location-name {
  font-weight: 600;
  margin-bottom: 5px;
}

.text-colour {
  &.green {
    color: $green;
  }
  
  &.blue {
    color: $blue;
  }
  
  &.orange {
    color: $orange;
  }
  
  &.purple {
    color: $purple;
  }

}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}