<mat-toolbar>
  <span class="fill-remaining-space">
    <img
      src="../../../assets/logo.png"
      aria-label="STEM Wana Trust"
      class="logo"
    />
  </span>

  <!-- <span>
    <div class="pie-wrapper" [class]="'progress-' + percentage">
      <span class="label" [ngClass]="{ 'no-progress': percentage === 0 }">
        {{ progress$ | async }}
      </span>
      <div class="pie">
        <div class="left-side half-circle"></div>
        <div class="right-side half-circle"></div>
      </div>
      <div class="shadow"></div>
    </div>
  </span> -->
</mat-toolbar>
